@import 'fonts.css';
body {
  font-family: 'Open Sans', sans-serif;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.menu-bar {
  background: #fff;
  padding: 20px 0;
  color: #212121;
}
.menu__item {
  margin-left: 37px;
}
.menu__item a {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 20px;
  color: #212121;
}
.menu__item a:hover {
  text-decoration: none;
  color: #868686;
}
.header {
  text-align: center;
  padding: 180px 0;
  background: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
  color: #fff;
}
.header__title {
  font-size: 55px;
}
.header__text {
  font-size: 20px;
  margin-bottom: 100px;
}
.button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 25px;
  margin: 0 10px;
  color: #fff;
  transition: .3s;
  background: #00897b;
  border: 2px solid #00897b;
}
.button:hover {
  background: transparent;
  border: 2px solid #fff;
}
.about, .services {
  padding-top: 120px;
  padding-bottom: 125px;
  background: #fff;
  color: #000;
  text-align: center;
}
.services {
  background: #e4fdf9;
  padding-top: 165px;
}
.about__title,
.services__title {
  font-size: 30px;
  font-weight: bold;
}
.about__text,
.services__text {
  color: #212121;
  font-size: 15px;
  margin-bottom: 110px;
}
.about_h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 20px;
}
.our_card {
  background: #fff;
  padding: 50px 40px 40px;
  transition: .3s;
  margin-bottom: 30px;
}
.our_card:hover {
  background: #00897b;
  color: #fff;
  box-shadow: 0 10px 12px -3px rgba(0, 0, 0, .26);
  cursor: pointer;
}
.our_card:hover .button_services {
  color: #fff;
  border: 2px #fff solid;
}
.our_card:hover .icon {
  color: #fff;
}
.icon {
  transition: .3s;
  font-size: 60px;
  color: #000;
}
.button_services {
  transition: .3s;
  text-transform: uppercase;
  background: transparent;
  border: 2px #212121 solid;
  padding: 14px 12px;
  color: #212121;
  font-family: 'Open Sans Semibold', sans-serif;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 135px;
  text-align: center;
}
.portfolio button:hover, .focused {
  color: #000;
  background: transparent;
  border: 2px solid #00897b;
}
.filter {
  padding: 120px 0;
}
div[data-filter]:hover img {
  filter: brightness(50%);
  transition: .3s;
}
.text {
  display: none;
}
div[data-filter]:hover .text {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
  text-align: center;
}